<h3>Folders</h3>
<button class="btn btn-primary"
  [routerLink]="['/folders/create']">
  New folder
</button>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let folder of liteFolders | async; let i = index">
        <th scope="row">
          {{ i + 1 }}
        </th>
        <td [routerLink]="['/folders', folder.Id, 'documents']">
          {{ folder.Name }}
        </td>
        <td>
          <i class="fa fa-cog pointer-icon"
             aria-hidden="true"
             [routerLink]="['/folders', folder.Id, 'configuration']">
          </i>
        </td>
        <td>
          <i class="fa fa-trash pointer-icon"
              aria-hidden="true"
              (click)="deleteFolder(folder.Id)">
          </i>
        </td>
      </tr>
    </tbody>
  </table>