
<div>
  <h3>Documents</h3>
  <form>
    <div class="form-group">
        <input #file type="file" class="form-control-file" multiple 
          (change)="onFilesAdded($event.target.files)"/>
    </div>
  </form>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Document Id</th>
        <th scope="col">File Name</th>
        <th scope="col">File type</th>
        <th scope="col">Text Nas path</th>
        <th scope="col">File size</th>
        <th scope="col">Family Id</th>
        <th scope="col">Upload Id</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let document of liteDocuments | async; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td [routerLink]="['/folders', folderId, 'documents', document.Id, 'details']">
          {{ document.Id }}
        </td>
        <td>{{ document.FileName }}</td>
        <td>{{ document.FileType }}</td>
        <td>{{ document.TextNasPath }}</td>
        <td>{{ document.FileSize }}</td>
        <td>{{ document.FamilyId }}</td>
        <td>{{ document.UploadId }}</td>
        <td>
          <i class="fa fa-trash pointer-icon" aria-hidden="true" (click)="deleteDocument(document.Id)"></i>
        </td>
      </tr>
    </tbody>
  </table>