<h3>List of fields of {{ folder.name }}</h3>

<div>
  <button class="btn btn-info"
    [routerLink]="['/folders', folderId, 'configuration', 'fields', 'create']">
    Create new field
  </button>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let field of fields; let i = index">
        <th scope="row">
          {{ i + 1 }}
        </th>
        <td>
            {{ field.name }}
        </td>
        <td>
            {{ field.dataType }}
        </td>
        <td>
          <i class="fa fa-cog"
             aria-hidden="true">
          </i>
        </td>
        <td>
          <i class="fa fa-trash"
              aria-hidden="true">
          </i>
        </td>
      </tr>
    </tbody>
  </table>