<div class="prev-next-nav d-flex justify-content-center">
    <a href="#" class="previous round">&#8249;</a>
    <a href="#" class="next round">&#8250;</a>
</div>

<div class="d-flex document-container">
    <div class="d-flex document-sheet">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et 
        vehicula magna, ut semper augue. Curabitur ultricies magna nec neque 
        volutpat, vel varius tellus venenatis. Nam sit amet leo sit amet tellus 
        suscipit malesuada sed ut elit. Vivamus sapien lectus, pellentesque eget 
        leo nec, viverra porta magna. Etiam et blandit magna. Morbi nec turpis 
        non metus facilisis mollis. Etiam mattis consectetur dictum. Nulla 
        facilisis tristique est vel commodo.
        Nunc quis eleifend dolor. Maecenas nec gravida magna. Etiam eros tortor,
        egestas et nisi vitae, eleifend bibendum sapien. Nullam ornare consectetur
        auctor. Mauris hendrerit interdum arcu. Vestibulum turpis turpis, tincidunt
        eu metus sit amet, pellentesque ultrices arcu. Sed dictum velit ut nulla
        faucibus, vitae blandit sem consequat. Etiam fringilla laoreet dolor, non
        tempus sapien volutpat a. Nullam nisi nulla, elementum quis lacus nec, tempus
        volutpat ex. Vestibulum sapien purus, cursus at magna ac, fringilla posuere
        quam. Donec pretium augue eget nisl pellentesque, vehicula aliquet turpis
        euismod.
        Sed volutpat accumsan justo eu interdum. Fusce laoreet nunc eros, et 
        facilisis odio hendrerit in. Nullam sed sapien sit amet tellus lobortis 
        blandit vel eget risus. Curabitur tristique orci sit amet nunc luctus,
        et posuere augue faucibus. Mauris cursus lacus ultricies lacinia aliquet.
        Nulla vitae elementum urna, et interdum nulla. Duis dictum luctus dictum.
        Integer aliquet ipsum dolor, non maximus quam rutrum quis. Sed dictum
        sed leo vel fermentum. Nulla et erat luctus, ornare dolor finibus,
        auctor leo. Aenean nec vehicula dui, sed vehicula magna. Nunc sagittis
        eleifend erat, sed feugiat orci commodo vel. In luctus ex vel ligula
        pulvinar mattis. In dignissim egestas tellus eget elementum. Curabitur
        vehicula congue placerat.
        Praesent dapibus dolor quis justo consectetur, non placerat nunc molestie.
        Nam a massa ac neque venenatis suscipit. Sed quis augue eget ligula porttitor
        placerat. Phasellus bibendum turpis vel tellus commodo feugiat. In efficitur
        fermentum erat. Fusce porttitor, ex non semper consequat, lorem eros interdum
        risus, a finibus lacus enim non sem. Mauris eget purus ultricies, placerat
        sem quis, tincidunt purus. Cras consectetur fermentum nunc ac finibus.
        Fusce cursus placerat ipsum, consectetur finibus eros imperdiet eu.
        Quisque sollicitudin nisl odio, at imperdiet tortor maximus et. Morbi
        vel finibus leo.
        Nullam viverra scelerisque tortor, dapibus pulvinar orci laoreet nec.
        Pellentesque dignissim, odio non lobortis finibus, turpis justo vehicula
        ex, nec sodales ligula est et leo. Fusce congue maximus scelerisque.
        Pellentesque commodo ultrices ullamcorper. Sed in tempus ipsum, vitae
        lacinia metus. Morbi eu orci non dolor feugiat auctor condimentum
        consectetur purus. Vivamus in tellus eleifend, ullamcorper mauris eu,
        mollis nulla. Curabitur eu sem eget tellus volutpat finibus sed et quam.
        Etiam imperdiet nibh sodales nulla placerat, vel tincidunt ex blandit.
        Sed mollis dui non dictum sollicitudin. Maecenas aliquet commodo turpis,
        eget maximus neque sagittis ut.
    </div>
</div>

